# Home Server Website Private Environment Variables

# Include the DNS name of Nextcloud and a contact email for the reverse proxy
# and Let's Encrypt services.
VIRTUAL_HOST=<DNS name of site>
LETSENCRYPT_HOST=<DNS name of site (same as above)>
LETSENCRYPT_EMAIL=<your email here>